*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(12, 25, 37);
}

.mainDiv{
    margin: 0px auto;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    z-index: -1;
    background-color: rgb(12, 25, 37);
    /* border: 1px solid white; */
}

.mainDiv .threeBarsIcon{
    color: #BFA181;
    margin: auto 3.5%;
    font-size: 35px;
}

.mainDiv .navbarName{
    color: #BFA181;
    margin: auto 3.5%;
    font-size: 35px;
}

.secondDiv{
    margin: 0px auto;
    height: 60px;
    position: none;
    width: 60%;
    /* border: 1px solid white; */
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    position: fixed;
}

/* .switch{
    border: 1px solid white;
    padding: 15px;
    width: 100px;
    height: 18px;
    margin-left: 10px;
    margin-top: .5%;
} */

.form-switch{
    /* border: 1px solid white; */
    height: fit-content;
    /* margin-top: auto;
    margin-bottom: auto; */
    width: fit-content;
}

/* .form-switch:hover{
    background-color: rgb(12, 25, 37);
} */

.form-check-input{
    background-color: rgb(12, 25, 37);
}

.form-check-input:hover{
    border: 2px solid #BFA181;
}

.secondDiv a{
    text-decoration: none;
}


.secondDiv .home{
    /* border: 1px solid white; */
    color: #BFA181;
    width: 100px;
    text-align: center;
    padding: 15px;
    margin-top: 3%;
    margin-left: 10px;
    font-weight: bolder;
    transition: background 1.5s;
}

.secondDiv .home:hover{
    background-color: #BFA181;
    color: rgb(12, 25, 37);
    border-radius: 5px;
}

.data{
    /* border: 1px solid white; */
    margin: 1.5% auto;
    width: 99%;
    padding: 2%;
    /* height: 540px; */
    height: auto;
}

.data h1{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #BFA181;
}

.data .line{
    height: 3px;
    background-color: white;
    margin: 1% auto;
    width: 70%;
}

.data p{
    margin-top: 5%;
    color: #BFA181;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

/* ------------------ for mobile screens -------------------- */
@media(min-width: 300px){
    .mainDiv{
        position: initial;
        width: 100%;
    }

    .crossIcon{
        /* border: 1px solid white; */
        margin-top: 6%;
        font-size: 50px;
        color: #BFA181;
        width: 16%;
        margin-left: 42%;
        text-align: center;
        margin-bottom: 10%;
    }

    .secondDiv{
        height: 100vh;
        width: 99%;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        right: 100%;
        transition: right 2s;
        /* border: 1px solid white; */
    }

    .form-switch{
        /* border: 1px solid white; */
        height: fit-content;
        width: fit-content;
        margin-top: 5px;
        margin-left: 85%;
        margin-top: 5px;
    }

    .secondDiv .home{
        margin: 5% auto;
        width: 40%;
        /* border: 1px solid white; */
    }

    .data{
        width: 93%;
        margin-top: 10%;
        height: auto;
    }

    .data h1{
        font-size: 40px;
    }

    .data .line{
        margin-top: 2%;
    }

}
/* ------------------ for tablet screens -------------------- */
@media(min-width: 550px){

    .mainDiv{
        width: 100%;
        position: initial;
    }

    .crossIcon{
        /* border: 1px solid white; */
        margin-top: 5%;
        font-size: 50px;
        color: #BFA181;
        width: 16%;
        margin-left: 42%;
        text-align: center;
        margin-bottom: 3%;
    }

    .secondDiv{
        height: 100vh;
        width: 99%;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        right: 100%;
        transition: right 2s;
    }

    .form-switch{
        /* border: 1px solid white; */
        height: fit-content;
        margin-top: 5px;
        width: fit-content;
        margin-left: 93%;
    }

    .secondDiv .home{
        margin: 5% auto;
        width: 50%;
    }

    .data{
        width: 95%;
        margin-top: 8%;
        height: auto;
    }

    data h1{
        font-size: 45px;
    }

    .data .line{
        margin-top: 2%;
    }
}
/* ------------------ for laptop screens -------------------- */
@media(min-width: 900px){

    .mainDiv{
        width: 100%;
        position: initial;
        /* border: 1px solid white; */
    }

    .secondDiv .crossIcon{
        font-size: 35px;
        color: #BFA181;
        width: initial;
        margin: auto 3.5%;
    }

    .secondDiv{
        height: 60px;
        width: fit-content;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: row;
        right: 0%;
        margin-right: 25%;
        position: initial;
        margin-left: 5%;
        transition: none;
    }

    .form-switch{
        /* border: 1px solid white; */
        height: fit-content;
        margin-bottom: auto;
        width: fit-content;
        margin-left: initial;
        margin-top: 2.7%;
    }

    /* .switch{
        margin: initial;
        margin-left: 10px;
        margin-top: 1.5%;
        height: 20px;
        width: 120px;
    } */

    .secondDiv .home{
        /* border: 1px solid white; */
        color: #BFA181;
        width: 130px;
        text-align: center;
        padding: 15px;
        margin-left: 10px;
        font-weight: bolder;
        /* margin-top: 3%;
        margin-left: 10px;
        width: 100px; */
    }

    .data{
        width: 95%;
        margin-top: 3%;
        height: auto;
    }

    data h1{
        font-size: 60px;
    }

    .data .line{
        margin-top: initial;
    }
}